.erba {
    padding:0 !important;
    height: 32px !important;
    border: none;
}

.noheight {
    height: 32px !important;
}
table {
    position: relative;
    border-spacing: 0px;
}

.tile {
    height: 32px;
    width: 32px;
}