.inpauseMenu {
  top: 20%;
  left: 70%;
  position: absolute;
  z-index: 20;
}
  
.noinpauseMenu {
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}

.inpauseText {
  top: 22%;
  left: 76%;
  position: absolute;
  z-index: 21;
}

.noinpauseText {
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 21;
}

.inpauseBox {
  top: 20%;
  left: 73%;
  position: absolute;
  z-index: 21;
}

.noinpauseBox {
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 21;
}

.row {
  margin-top:60px;
}

.col {
  display: flex;
  align-items: center;
}

.selected{
  height: 10px;
}

.noselected{
  visibility: hidden;
}

/* Media Queries for Tablets */
@media (max-width: 768px) {
  .inpauseMenu {
    top: 15%;
    left: 65%;
  }
}

/* Media Queries for Phones */
@media (max-width: 480px) {
  .inpauseMenu {
    top: 4%;
    left: 20%;
    height: 60vh;
  }

  .inpauseText {
    top: 5%;
    left: 41%;
  }

  .inpauseBox {
    top: 10%;
    left: 30%;
  }

  .row {
    margin-top:36px;
  }
}