.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body {
  font-family: 'Public Pixel', sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.grassTableContainer {
  position: relative;
}

.bottom-section {
  margin-top: 25rem;
}

.base-margin-top {
  margin-top: 1rem;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/* Media Queries for Phones */
@media (max-width: 480px) {
  .gameboy-under {
    bottom: 0%;
    position: fixed;
    z-index: 300;
  }
  .gameboy-top {
    position: fixed;
    z-index: 300;
    top: 0%;
  }  
  .gameboy-left {
    position: fixed;
    z-index: 299;
    left: 0%;
  }
  .gameboy-right {
    position: fixed;
    z-index: 299;
    right: 0%;
  }
  .bottom-section {
    margin-top: 1rem;
  }
}
